.main{
    margin: 95px 0;
    color: white;
    padding: 3em;
    background: rgba(34, 0, 41, 0.047);
    border-radius: 20px;
    max-width: max-content;
    backdrop-filter: blur(6px);
    position: relative;
    left: 40%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);

    animation: in 1s ease-in-out;
}

@keyframes in{
    from{opacity: 0; filter: blur(3px)}
    to{opacity: 1; filter: blur(0)}
}

.close{
    color: white;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 20px;
}