.main{
    color: white;
    /* display: grid;
    justify-content: center;
    align-items: center; */
}

.padre1{
    position: relative;
    right: 20%;
}

.father{
    position: relative;
    left: 20%;
    padding: 10px 50px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    filter: blur(0);
    margin-bottom: 30px;

    animation: blur 1s ease;
}

@keyframes blur{
    from{filter: blur(5px)}
    to{filter: blur(0px)}
}

.form{
    display: grid;
    gap: 3em;
}

.title{
    position: relative;
    margin: 20px 0 40px 0;
}

.inp_name{
    position: absolute;
    left: 90px;
    color: white;
    font-size: 16px;
    padding-top: 5px;
    outline: none;
    width: 200px;
    height: 25px;
    background: none;
    border: none;
    border-bottom: 2px solid #ffffff;
    filter: drop-shadow(0 0px 5px #9A86FD);
    transition: filter 300ms;

    animation: inputs 2s ease;
}

@keyframes inputs{
    from{width: 0px; border-bottom: 2px solid rgb(47, 47, 47);}
    to{width: 200px; border-bottom: 2px solid #ffffff;}
}

.inp_name:focus,
.inp_name:hover{
    filter: drop-shadow(0 0px 5px #70a4ff);
}

.inp_name::placeholder{ 
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 2em 2em;
    margin-bottom: 20px;
}

.paginado{
    position: relative;
    left: 30%;
}

.cards_title_btn{
    display: flex;
    justify-content: space-between;
}

.cards_img{
    width: 50px;
    cursor: pointer;
    filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0));
    transition: all 200ms;
}

.cards_img:hover{
    width: 60px;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.7));
}

.div_inp{
    display: flex;
    justify-content: flex-start;
}

.label_nombre{
    font-size: 20px;
}

.select_difficult{
    position: relative;
    left: 10px;
    bottom: 2px;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    outline: none;
    width: 200px;
    height: 35px;
    background: rgb(9, 0, 34);
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 8px #9A86FD;
    transition: box-shadow 300ms;

    animation: selects 2s ease;
}

@keyframes selects{
    from{width: 0px; background: rgb(0, 0, 0);}
    to{width: 200px; background: rgb(9, 0, 34);}
}

.select_difficult:focus,
.select_difficult:hover{
    box-shadow: 0 0 8px #70a4ff;
}

.select_time{
    position: relative;
    left: 10px;
    bottom: 2px;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    outline: none;
    width: 90px;
    height: 35px;
    background: rgb(10, 1, 36);
    border:  2px solid white;
    border-radius: 20px 10px 0 20px;
    box-shadow: 0 0 8px #9A86FD;
    text-align: center;
    transition: box-shadow 300ms;

    animation: selects2 1s ease;
}

@keyframes selects2{
    from{width: 0px;}
    to{width: 90px;}
}

.select_time:focus,
.select_time:hover{
    box-shadow: 0 0 8px #70a4ff;
}

.inp_time{
    position: absolute;
    left: 184px;
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
    outline: none;
    width: 110px;
    height: 25px;
    background: none;
    border: none;
    border-bottom: 2px solid #ffffff;
    filter: drop-shadow(0 0px 5px #9A86FD);
    transition: filter 300ms;

    animation: inputs2 2s ease;
}

@keyframes inputs2{
    from{width: 0px; border-bottom: 2px solid rgb(62, 62, 62);}
    to{width: 110px; border-bottom: 2px solid #ffffff;}
}

.inp_time::-webkit-outer-spin-button,
.inp_time::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inp_time:focus,
.inp_time:hover{
    filter: drop-shadow(0 0px 5px #70a4ff);
}

.select_season{
    position: relative;
    left: 10px;
    bottom: 2px;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    outline: none;
    width: 187px;
    height: 35px;
    background: rgb(9, 0, 34);
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 8px #9A86FD;
    transition: box-shadow 300ms;

    animation: selects3 2s ease;
}

.select_season:focus,
.select_season:hover{
    box-shadow: 0 0 8px #70a4ff;
}

@keyframes selects3{
    from{width: 0px;}
    to{width: 187px;}
}

.inp{
    font-size: 16px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
    background: none;
    border-radius: 17px;
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px #9A86FD;
    transition: all 400ms;

    animation: button 2s ease;
}

@keyframes button{
    from{opacity: 0;}
    to{opacity: 1;}
}

.inp:hover{
    box-shadow: 0 0 10px #70a4ff;
}

.name_error{
    color: rgba(0, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 20%;
    left: 50%;
}

.name_error2{
    margin: 0;
}

.name_error3{
    color: rgba(0, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 20%;
    left: 78%;
}

.name_error4{
    color: rgba(0, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 20%;
    left: 85%;
}

.up_div{
    margin: 0 auto;
    cursor: pointer;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.up_div:hover .up, .up_div:hover .up_txt{
    filter: drop-shadow(0 0 5px white);
}

.up{
    transform: rotate(90deg);
    width: 50px;

    transition: filter 300ms;
}

.up_txt{
    margin: 0;
    margin-bottom: 10px;
    width: max-content;

    transition: filter 300ms;
}

.div_name_country{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px
}

.country_name{
    margin: 0;
}

.paginado{
    position: relative;
    left: 30%;
}