.main{
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.div_title{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title{
    position: relative;
    padding-left: 20px;
    font-size: 28px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.title::after{
    content: '';
    position: absolute;
    background-color: #9A86FD;
    bottom: 0;
    left: 5%;
    width: 97%;
    height: 4px;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.title:hover::after{
    opacity: 1;
    transform: translateY(8px);
}

.img{
    max-width: 40px;
    padding: 25px;
}

.list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.link{
    position: relative;
    padding: 0 25px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.link::after{
    content: '';
    position: absolute;
    background-color: #9A86FD;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 4px;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.link:hover::after{
    opacity: 1;
    transform: translateY(8px);
}