.main{
    backdrop-filter: blur(6px);
    color: white;
    width: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    border-radius: 50px;
}

.main p{
    font-size: 20px;
}
