.img{
    width: 99.1vw;
    height: 100vh;
    position: fixed;
    object-fit: cover;
    filter: brightness(30%);
    left: 0%;
    z-index: -1000;
}

.filter{
    padding: 40px 0;
    position: relative;
    right: 30%;
}

/* .cards{
    padding-left: 50%;
} */

.carrusel{
    display: flex;
    /* padding-left: 50%; */
    justify-content: center;
}

.list{
    color:white;
    list-style: none;
    padding: 0;
    margin: none;
}

.err{
    color:white;
    position: relative;
    right: 50%;
}

.padre1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 150px;
}

.error{
    position: relative;
    right: 30%;
    color: white;
}