.img{
    width: 99.1vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    z-index: -500;
}

.div_img{
    width: 99.1vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    animation: bg 2s ease;
    animation-delay: 300ms;
}

@keyframes bg{
    from{ background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(0); }
    to{ background-color: rgba(0, 0, 0, 0.6); backdrop-filter: blur(4px); }
}

.div_text{
    color: white;
    padding-top: 40vh;
    align-items: center;
    justify-content: center;
}

.container{
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.title{
    margin: 0;
    position: relative;
    text-decoration: none;

    filter: blur(0);
    color: white;
    opacity: 1;

    animation: title 2s ease;
    animation-delay: 300ms;
}

.title h1{
    font-weight: 400;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 6em;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.title .title_underline{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0em;
    height: 3px;
    background-color: rgb(189, 0, 246);
    z-index: 5;
    transition: transform 580ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
}

.title .title_highlight{
    position: absolute;
    width: 100%;
    bottom: -50;
    left: 0;
    height: 50px;
    background: rgb(189, 0, 246);
    z-index: -1;
    transition: transform 400ms ease;
}

.title .title_filled{
    text-align: center;
    font-weight: 400;
    position: absolute;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 6em;
    top: 0;
    clip-path: polygon(0% 100%, 0% 99%, 100% 99%, 100% 100%);
    transition: clip-path 600ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
}

.container:hover .title_filled{
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
}

.container:hover .title_underline{
    transform: translateY(-8em);
}

.container:hover .title_highlight{
    transform: translateY(-2.2em);
}

@keyframes title{
    from{ filter: blur(10px); color: black; opacity: 0; }
    to{ filter: blur(0); color: white; opacity: 1; }
}

.codeBy{
    color: white;
    position: absolute;
    right: 30px;
    bottom: 3px;
}

.codeBy span{
    cursor: pointer;
    color: white;
    transition: color 300ms;
}

.codeBy span:hover{
    color: rgba(255, 255, 255, 0.509);
}

.arrow{
    padding-top: 40px;
}

.click p{
    margin: 0;
}

.click{
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    opacity: 0;
    animation: click 5s infinite;
    animation-delay: 5s;
}

@keyframes click{
    0% { opacity: 0;}
    50% { opacity: 1;}
    100% { opacity: 0;}
}